html{
  margin: 0;
}
body {
  background-color: #FFEFE0;
  display: block;
    margin: 0;
}
hr{
  margin: 0;
  width: 80%;
  position: relative;
  left: 10%;
}
h3{
display:inline;
}
p{
  display: inline;
}
.aboutus{
  align-items: center;
  text-align: center;
}
.favi{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20%;
    height: 3%;
    width: 3%;
  }
  .name {
    background-color: ;
    margin: 0;
    position: relative;
    padding-bottom: 10%;

  }
  .about{
    position: relative;
    bottom: 23px;
    margin-left: 50%;
    color: black;
    font-size: 25px;
    text-decoration: none;
  }
  .tools{
    margin-left: 25px;
    bottom: 23px;
    position: relative;
    color: black;
    font-size: 25px;
    text-decoration: none;
  }
